<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">


    <!-- Custom CSS -->
    <link rel="stylesheet"  href="/css/style.css">

    <title>Hello, world!</title>

  </head>
  <body>

    <header>
      <nav class="navbar navbar-expand-lg navbar-light bg-danger text-light py-3">    <!-- background color here -->
  <a class="navbar-brand" href="#">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/anaSayfa">Ana Sayfa <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/örneklerimiz">Örnekler </a>
      </li>
      <li class="nav-item2">
        <a class="nav-link" href="/yorumlar">Müşteri Yorumlarımız</a>
      </li>
      <li class="nav-item3">
        <a class="nav-link" href="/sosyalMedya">Sosyal Medya</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="/renklerimiz" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Renklerimiz
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/renklerimiz">Mavi Beyaz</a>
          <a class="dropdown-item" href="#">Sarı Beyaz</a>
          <a class="dropdown-item" href="#">Kırmızı Beyaz</a>
          
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Arama Yap">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Arama Yap</button>
    </form>
  </div>
</nav>
    </header>

    

    <div class="container-fluid bg-dark text-white ">
      <h1 align="center" class="display-4"> Balkon Perdesi siparişinizi hemen oluşturun!</h1>
      <div class="row">
        <div class="column">
        <div class="center">
        <button type="button" class="btn btn-primary btn-lg" >Fiyat Al</button>
        </div>
      </div>
      <div class="column">
        <div class="center2">
        <button type="button" class="btn btn-secondary btn-lg">Sipariş Ver</button>
        </div>
      </div>
      </div>
    </div>
 
      

    <div class="container-fluid">

    
    </div>


    <style type="text/css">
      .center {
  position: absolute;
  top: 30%;
  left: 45%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.center2 {
  position: absolute;
  top: 30%;
  left: 55%;
  transform: translate(-50%, -50%);
  text-align: center;
}
      .split {
         height: 100%;
         width: 50%;
         
         z-index: 1;
        top: 0;
         overflow-x: hidden;
        padding-top: 20px;
        }
        .row {
  display: flex;
}

.column {
  flex: 50%;
}
#hero{
  background-image: linear-gradient(rgba(0,0,0, .3), rbga(0,0,0, .3))
}
    </style> 
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

<!--
    <section id="hero" class="background-image" >
      <div class="container" >

        <div>
          <h1>Balkon Perdesi</h1>
          <p>Balkon Perdesi Siparişinizi hemen oluşturun!</p>
        </div>
        
      </div>
      
    </section>  -->

  </body>
</html>